*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.nav{
    background-color: brown;
    width: 100%;
    height: 5rem;
}

.ul{
    list-style: none;
   

}

.li{
    font-size: 25px;
    display: inline-block;
    margin-top: 3vh;
    padding:  0 3vw;
        
}

.h1{
    font-size: 45px;
    color: darkolivegreen;
    margin: 5vh;
    text-align: center;
}


.form{
    margin-top: 5vh;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.form .espacio{
    width: 10vw;

}